@import './base.css';
@import 'tailwindcss';

#app {
  height: 100vh;
  width: 100%;
  padding: 0;
  max-width: none;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* Removido layout de grid/flex do scaffold para não quebrar o layout de app */
}
